<h1 id="tableLabel">Rezervari</h1>

<p> Lista rezervari </p>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Nume </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> Prenume</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Cnp">
      <th mat-header-cell *matHeaderCellDef> Cnp </th>
      <td mat-cell *matCellDef="let element"> {{element.cnp}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Telefon </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="RoomNo">
      <th mat-header-cell *matHeaderCellDef> Nr.Camera </th>
      <td mat-cell *matCellDef="let element"> {{ element.roomNo }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="CheckIn">
      <th mat-header-cell *matHeaderCellDef> CheckIn </th>
      <td mat-cell *matCellDef="let element"> {{ element.checkIn }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="CheckOut">
      <th mat-header-cell *matHeaderCellDef> CheckOut </th>
      <td mat-cell *matCellDef="let element"> {{ element.checkOut }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator #paginator [length]="totalData" [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>
</div>
