<div class="container">
  <h3 mat-dialog-title>Adaugă o rezervare nouă</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
 
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Nume" [(ngModel)]="data.lastName" name="lastName" minlength="3" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 3}}</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Prenume" [(ngModel)]="data.firstName" name="firstName" minlength="3" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 3}}</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Cnp"  [(ngModel)]="data.cnp" name="cnp" maxlength="13" minlength="13" required> 
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/13</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput type="tel"  placeholder="Telefon" pattern="[0-9]{3}[0-9]{2}[0-9]{4}"  [(ngModel)]="data.phone" name="phone"  required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Nr.Camera"  type="number"  [(ngModel)]="data.roomNo" name="roomNo" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput  type="datetime-local"   placeholder="CheckIn" [(ngModel)]="data.checkIn" name="checkIn" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput type="datetime-local" placeholder="CheckOut" [(ngModel)]="data.checkOut" name="checkOut"  required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>

  </form>
</div>
